<% 
  show_help = false

  err = nil
  # if !cu[:paid] && cu[:medium] == 'sms' && cu[:num_msgs_per_day] > 1 
  #   err = "To receive more than #{MAX_FREE_TEXT_MESSAGES_PER_DAY} SMS messages per day, you can <a href='/donate'>support mindy</a>."
  # elsif cu[:medium] == 'sms' && !(cu[:num].to_s.size>5)
  #   err = 'Phone number is invalid.'
  # end
  # events = $events.all(user_id: cuid)
  posts = get_posts(user_id: cuid, title: {'$exists': true})
%>
<style>
.pic_label {
  font-weight: bold; 
  cursor: pointer;
}
.pic_label:hover {
  background-color: whitesmoke;
}
</style>
<h1> אני </h1>

<div>
		<form action='update_me' method='post' class='form1'>      
      <label> אימייל: <%= cu['email'] %> </label>
      <div></div>

      <label> השם שלך </label>
      <input class='input1 rtl' placeholder='' value="<%=cu['name']%>" name='name' style='margin-right: 5px; margin-left: 0'/>
      
      <br/> 

      <label> מי את/ה? </label>
      <textarea name=desc value=""><%=cu['desc']%></textarea> 
      <br/>

      <label> שם משתמש </label>
      <input class='input1 ltr' placeholder='' value="<%=cu['handle']%>" name='handle' style='margin-right: 0px; margin-left: 0'/>
      <br/>

      
      <input type=file id=img_uploader style='display: none' />
      <label class='pic_label' onclick=$("#img_uploader").click()> לחץ לעדכן תמונה </label>
      <input name=img_url id=img_url style='display: none' value="<%=cu[:img_url]%>"/>
      <img class=user_img src="<%=cu[:img_url]%>" />
      <br/>
      <button class='btn btn-raised btn-info'>עדכן!</button>
		</form>

    <%#= erb :'posts/posts_list', locals: {posts: posts} %>    
    </div>
</div>

<script>

function updateImgURL(res) {
  console.log(res);
  window.res = res;
  var link = JSON.parse(res).data.link;
  $("#img_url").val(link);
  $(".user_img").attr('src',link);
}

function attachImgUploader() {
  $('#img_uploader').on("change", function() {
    var file = $(this).get(0).files[0];
    if (file) { uploadImg(file, updateImgURL) }
  });  
}

function onLoad() {
  attachImgUploader();
}

$(document).ready(onLoad);
</script>