<%
  post_id = pr[:post_id]
  post    = $posts.get(post_id)
  splat   = pr['splat']
  handle  = splat[0]
  owner   = $users.get(handle: handle)
  is_owner= owner && owner[:_id] == cuid
  created_at = nice_date(post['created_at']) rescue '' 
%>

<div id='editor' class="<%='is_owner' if is_owner %>">  
  <h1 class='title refreshOnChange' autofocus>
    <% if is_owner %>
      <textarea onkeyup=savePost() class='editable_textarea title_textarea' autofocus zplaceholder=...><%= post['title'] %></textarea>
    <% else %>
      <textarea readonly           class='editable_textarea title_textarea'><%= post['title'] %></textarea>
    <% end %>
  </h1>

  <div class='user_data'>
    <span class='user_data_name'><%= owner['name'] %>, </span>
    <span class='user_data_name'><%= created_at %></span>
  </div>

  <% if is_owner %>
  <% end %>
  <div class='body refreshOnChange'>
    <% if is_owner %>
      <textarea onkeyup=savePost() class='editable_textarea title_textarea' placeholder=...><%= post['body'] %></textarea>
    <% else %>
      <textarea readonly           class='editable_textarea title_textarea'><%= post['body'] %></textarea>
    <% end %>      
  </div>

  <%= erb :'posts/below_post_btns', locals: {post: post} if is_owner %>
</div>

<script>

var $title = $('#editor .title textarea');
var $body  = $('#editor .body textarea');

function updateServer(data) {
  return $.post('/posts/<%=post_id%>', data);
}

function savePost() {
  var btn  = $('.saved-btn');
  var data = {title: $title.val(), body: $body.val()}
  btn.fadeIn('fast').text('שומר...');

  clearTimeout(window.savePostTimeout);
  window.savePostTimeout = setTimeout(()=>{
    updateServer(data).then(res => { btn.text('נשמר').fadeOut(1500);})  
  },1000);
}
  
function resizeTextAreas() {
  $('textarea').each(function () {
    this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
  }).on('input', function () {
    this.style.height = 'auto';
    this.style.height = (this.scrollHeight) + 'px';
  });
}

function onLoad() {
  $('[data-toggle="tooltip"]').tooltip(); // show tooltips 

  resizeTextAreas();
}

$(document).ready(onLoad);
</script>