 <%
  post_id = pr[:post_id]
  post    = $posts.get(post_id)
  splat   = pr['splat']
  handle  = splat[0]
  owner   = $users.get(handle: handle)
  is_owner= owner && owner[:_id] == cuid
  ps = post[:ps].to_a
  ps.push({type: 'text', text: ''}) if ps.size == 0
%>

<style>
textarea { 
  border:1px solid green;
}
.single_p {
  /*border:1px solid blue;*/
  min-height: 20px;
  /*background-color: red;*/
  display: block;
}
.single_p.img {
  text-align: center;
  margin-bottom: 20px;
}
.single_p img {
  max-height:400px;
}
textarea {
/*  border:2px solid blue !important;*/
}

</style>

<% if pr[:json] %>
<pre>
  <%= post.to_json %>
</pre>
<% end %>

<div id='editor' class="<%='is_owner' if is_owner %>">  
  <h1 class='title refreshOnChange' autofocus>
    <% if is_owner %>
      <textarea onkeyup=savePost() rows=1 class='editable_textarea title_textarea' autofocus placeholder='כותרת'><%= post['title'] %></textarea>
    <% else %>
      <textarea readonly           rows=1 class='editable_textarea title_textarea'><%= post['title'] %></textarea>
    <% end %>
  </h1>

  <%= erb :'posts/post_metadata', locals: {owner: owner, post: post} %>  

  <div class='postBody refreshOnChange'>
    <% ps.to_a.each_with_index do |p, idx| %>
  
      <div class='single_p <%=p[:type]%>'>
        <% if p[:type].to_s == 'text' && (idx == 0 || p[:text].to_s.strip.present?) %>      
          <% if is_owner %>
            <textarea onkeyup=savePost() class='editable_textarea body_textarea' <%="placeholder='הסיפור שלך'" if ps.size == 1 && idx == 0 %>><%= p[:text] %></textarea>
          <% else %>
            <textarea readonly           class='editable_textarea body_textarea'><%= p[:text] %></textarea>
          <% end %>      
        
        <% elsif p[:type].to_s == 'img' %>
          <img src='<%=p[:src]%>' />
        <% end %>
      </div>
    
    <% end %>
  </div>

  <input type=file id=img_uploader style='display: none' />
  <%= erb :'posts/below_post_btns', locals: {post: post} if is_owner %>
</div>

<script>

var $title = $('#editor .title textarea');
var $body  = $('#editor .postBody textarea');

function updateServer(data) {
  return $.ajax('/posts/<%=post_id%>', {data: JSON.stringify(data), contentType: 'application/json', type: 'POST'});
}

function getData() {
  var ps = [];
  $('.single_p').each((idx,p) => {
    p = $(p);
    if (p.hasClass('text')) {
      ps.push({type: 'text', text: p.find('textarea').val()})
    } else if (p.hasClass('img')) {
      ps.push({type: 'img', src: p.find('img').attr('src')})
    }
  });
  var data = {title: $title.val(), ps: ps};
  return data;
}

function savePost() {  
  var data = getData();
  var btn  = $('.saved-btn');
  btn.fadeOut(0).text('');
  clearTimeout(window.savePostTimeout);
  window.savePostTimeout = setTimeout(()=>{
    btn.fadeIn('fast').text('שומר...');
    updateServer(data).then(res => { btn.text('נשמר').fadeOut(1500);})  
  },1000);
}
  
function resizeTextAreas() {
  $('textarea').each(function () {
    this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
  }).on('input', function () {
    clearTimeout(window.resizeTextAreasTimeout);
    var scrollY = window.scrollY;
    var el = this; 
    window.resizeTextAreasTimeout = setTimeout(()=>{
      el.style.height = 'auto'; el.style.height = (el.scrollHeight) + 'px';  
      window.scrollTo(0,scrollY);
    },100)
  });
}

function addTextP() {
  var el = $('.single_p.text').first().clone();
  el.find('textarea').val('').attr('placeholder','');
  $('.postBody').append(el);
}

function addImgP(res) {
  var link = JSON.parse(res).data.link;
  //link = 'https://image.shutterstock.com/image-illustration/cow-isolated-on-white-background-260nw-1497503726.jpg';
  //var el = $('.single_p.img').first().clone();
  var el = $('<div class="single_p img"><img /></div>');
  el.find('img').attr('src',link);
  $('.postBody').append(el);
  
  addTextP();
}

function removeImg(el) {
  if (confirm("למחוק את התמונה?")) {
    $(event.target).closest('.single_p').remove();
    savePost();
  }
}

function attachImgDeleters() {
  $('body').on('click', '.single_p img', removeImg); 
}

function attachImgUploader() {
  $('#img_uploader').on("change", function() {
    var file = $(this).get(0).files[0];
    if (file) { uploadImg(file, addImgP) }
  });
}

function onLoad() {
  $('[data-toggle="tooltip"]').tooltip(); // show tooltips 

  setTimeout(()=>resizeTextAreas(),100);
  attachImgUploader();
  attachImgDeleters();
}

$(document).ready(onLoad);
</script>