<%
  is_owner = locals[:is_owner] ||= false  
%>
<style>
.posts_list {
  margin-top: 20px;
}
.single_post_box {
  background-color: #f6f5f5;
  padding: 10px;
  position: relative;
  left: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.single_post_box:hover {
  /*text-decoration: underline;*/
  /*border:1px solid lightgrey;*/
  cursor: pointer;
}
.posts_list li span {
  flex: 1;
}
.single_post_link {
  font-size: 18px;
  color: black;
}
.post_analytics {
  display: flex;
  color: black;
}
.analytics_tools {
  display: block;
}
.analytics_main_stats {
  display: flex;
}
</style>
<div class='posts_list'>
  <% if is_owner %>  
  <br/>

  <div class='posts_list_buttons analytics_tools'>
    <button onclick="sortElemsList('#posts_list', '.single_post_box', 'num_views')"> הכי נצפים </button>
    <button onclick="sortElemsList('#posts_list', '.single_post_box', 'num_words')"> הכי ארוכים </button>
  </div>
  <br/>
  <% end %>
  
  <ul id=posts_list>
  <% posts.each do |post| %>    
    <% 
      next unless post['title'].present? 
      post_id  = post[:_id]    
    
      post_title = escape_html(post['title'] || '(חסר כותרת)')
      num_mins   = get_post_mins(post)      
      num_words  = get_post_num_words(post)      
      num_views  = get_post_num_views(post)
      last_view  = nice_date($views.last(post_id: post_id)[:created_at]) rescue nil
    %>
    <% user = $users.get(post[:user_id]) || {} %>
    <li class='single_post_box' onclick="document.location.href = $(this).find('a').attr('href')"
      <% if is_owner %>
      data-num_views="<%= num_views %>"
      data-num_mins="<%= num_mins %>"
      data-last_view="<%= last_view %>"
      data-num_words="<%= num_words %>"
      <% end %>
    >
      
      <span><a class='single_post_link' href='/@<%=user['handle']%>/<%=post[:_id]%>'><%=post_title%></a> 
      
      <div>
        <%= erb :'posts/post_metadata', locals: {owner: user, post: post} %>  
      </div>
      
      </span>
    
      <!-- <span class=''><%= nice_date(post['created_at']) %></span>
      <span class=''>כ-<%= num_mins %> דק׳ קריאה</span> -->
      <% if is_owner %>      
        <div class='post_analytics analytics_tools'>
          <div class='analytics_main_stats'>
            <span>
            <% if post[:post_open] == 'yes' %>
              <i class='fa fa-eye' style='color: #7adf78' data-placement=top data-toggle=tooltip data-title="פתוח לצפייה"></i>
            <% else %>
              <i class='fa fa-eye-slash' data-placement=top data-toggle=tooltip data-title="סגור לצפייה"></i>
            <% end %>
            </span>
            <!-- <span><%= num_mins %> דק׳ </span> -->
            <span><%= num_words %> מילים </span>
            <% if num_views > 0 %>
            <span><%= num_views %> צפיות </span>
            <span>צפיה אחרונה: <%= last_view.to_s %></span>
            <% else %>
            <span> </span>
            <span> </span>
            <% end %>
          </div>
        </div>
        
      <% end %>

    </li>
  <% end %>
  </ul>
</div>


<% if is_owner %>
<% end %>
<!-- <p> האירועים שלי </p> -->      