<%
  is_owner = locals[:is_owner] ||= false  
%>
<style>
.posts_list {
  margin-top: 20px;
}
.single_post_box {
  background-color: #f6f5f5;
  padding: 10px;
  position: relative;
  left: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.single_post_box:hover {
  text-decoration: underline;
  /*border:1px solid lightgrey;*/
  cursor: pointer;
}
.posts_list li span {
  flex: 1;
}
.single_post_link {
  font-size: 18px;
  color: black;
}
.whether_post_open {
  position: absolute;
  color: black;
  top: 10px;
  left: 10px;
}
</style>
<div class='posts_list'>
  <% if is_owner %>
  <div class='posts_list_buttons'>
    <button onclick="sortElemsList('#posts_list', '.single_post_box', 'num_views')"> הכי נצפים </button>
    <button onclick="sortElemsList('#posts_list', '.single_post_box', 'num_words')"> הכי ארוכים </button>
  </div>
  <br/>
  <% end %>
  
  <ul id=posts_list>
  <% posts.each do |post| %>    
    <% 
      next unless post['title'].present? 
      post_id  = post[:_id]    
    
      post_title = escape_html(post['title'] || '(חסר כותרת)')
      num_mins   = get_post_mins(post)      
      num_words  = get_post_num_words(post)      
      num_views  = get_post_num_views(post)
      last_view  = nice_date($views.last(post_id: post_id)[:created_at])
    %>
    <% user = $users.get(post[:user_id]) || {} %>
    <li class='single_post_box' onclick="document.location.href = $(this).find('a').attr('href')"
      <% if is_owner %>
      data-num_views="<%= num_views %>"
      data-num_mins="<%= num_mins %>"
      data-last_view="<%= last_view %>"
      data-num_words="<%= num_words %>"
      <% end %>
    >
      
      <span><a class='single_post_link' href='/@<%=user['handle']%>/<%=post[:_id]%>'><%=post_title%></a> 
      <% if is_owner %>
      
      <div class='whether_post_open'>
        <div>
        <% if post[:post_open] == 'yes' %>
          <i class='fa fa-eye' style='color: #7adf78'></i>
        <% else %>
          <i class='fa fa-eye-slash'></i>
        <% end %>
        </div>

        <div class=zbold>
          <div><%= num_mins %> דק׳ </div>
          <div><%= num_words %> מילים </div>
          <div><%= num_views %> צפיות </div>
          <div>נקרא לאחרונה: <%= last_view %></div>
        </div>
      </div>
      <br/>
      
      
      <% end %>
      <div>
        <%= erb :'posts/post_metadata', locals: {owner: user, post: post} %>  
      </div>
      
      </span>
    
      <!-- <span class=''><%= nice_date(post['created_at']) %></span>
      <span class=''>כ-<%= num_mins %> דק׳ קריאה</span> -->
    </li>
  <% end %>
  </ul>
</div>
<!-- <p> האירועים שלי </p> -->      