<%
  post_id = pr[:post_id]
  post    = $posts.get(post_id)
  splat   = pr['splat']
  handle  = splat[0]
  owner   = $users.get(handle: handle)
  is_owner= owner && owner[:_id] == cuid
%>

<style>
#editor {
  font-size: 16px;
  font-family: Lora;
  direction: rtl;
  text-align: right;
  position: relative;
}

.title .body {
  direction: rtl;
  white-space: pre;
}

.is_owner .title, .is_owner .body {
  border:1px solid whitesmoke;
}

.above_post {
  direction: ltr;  
  text-align: left;
  display: flex;
}
.saved-btn {
  color: grey;
}

.user_data {
  padding: 20px;
}
</style>

<div id='editor' class="<%='is_owner' if is_owner %>">  
  <h1 class='title refreshOnChange' autofocus <%= "contenteditable" if is_owner %>>
    <%= post['title'] %>
  </h1>
  <div class='user_data'>
    <%= owner['name'] %>, 
    <%= post['created_at'] %>
  </div>

  <div class='body refreshOnChange' <%= "contenteditable" if is_owner %>>
    <%= post['body'] %>
  </div>

  <% if is_owner %>
  <div class='above_post'>
    <a class='publish-btn-toggle publish-btn btn btn-raised btn-warning   <%= "noDisplay" if post[:open] %>'   data-toggle="tooltip" data-placement="top">לפרסם</a>
    <a class='publish-btn-toggle unpublish-btn btn btn-raised btn-success <%= "noDisplay" if !post[:open] %>' data-toggle="tooltip" data-placement="top">לסגור</a>
    <div class='saved-btn btn'></div>
  </div>
  <% end %>
</div>

<script>

var $title = $('#editor .title');
var $body  = $('#editor .body');

function getData() {
  var data = {}
  data.title = $title.text().trim();
  data.body  = $body.html(); 
  return data;
}  

function updateServer(data) {
  return $.post('/posts/<%=post_id%>', data);
}

function setData(data, elem) {
  updateServer(data).then(res => {
    $title.text(data.title);
    $body.html(data.body);  
    $('.saved-btn').fadeIn('fast').text('נשמר').fadeOut(1500);
    setEndOfContenteditable(elem);
  })  
}
  
function onDataChange(elem) {
  var data = getData();
  setData(data,elem);
}

function onLoad() {
  $('.refreshOnChange').on("input", ()=> { 
    var elem = $(event.target)[0];
    clearTimeout(window.onDataChangeTimeout);
    window.onDataChangeTimeout = setTimeout(() => {
      onDataChange(elem);      
    },2000);
  });

  $('[data-toggle="tooltip"]').tooltip();

  $('.publish-btn-toggle').click(()=> { $('.publish-btn-toggle').toggleClass('noDisplay');});
  $('.publish-btn').click(()=> { $.post('/posts/<%=post_id%>',{post_open: 'yes'}) });
  $('.unpublish-btn').click(()=> { $.post('/posts/<%=post_id%>',{post_open: 'false'}) });
}


// $('.refreshOnChange').on("input", ()=> { 
//   var elem = $(event.target)[0];
//   clearTimeout(window.onDataChangeTimeout);
//   window.onDataChangeTimeout = setTimeout(() => {
//     onDataChange();
//     setEndOfContenteditable(elem);
//   },500);
// });

$(document).ready(onLoad);
</script>
<script src="https://unpkg.com/turndown/dist/turndown.js"></script>
